<%- include('header') %>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
  <div class="card mr-5" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/04/21/22/41/go-3339748_960_720.jpg">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Single Player</h5>
        <p class="card-text">Play Gomoku against AI</p>
        <a href="/single" class="btn btn-primary mt-auto">Play Single</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/04/21/22/41/go-3339748_960_720.jpg">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Multi Player</h5>
        <p class="card-text">Play Gomoku against another human</p>
        <a href="/multiplayer" class="btn btn-primary mt-auto">Play multiplayer</a>
      </div>
    </div>
  </div>
</div>
<%- include('foot') %>
